* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    padding-top: 15px;
    background-color: grey;
}

.form {
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}

.d-flex {
    display: flex;
    flex-direction: row;
}

.input-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    width: 300px;
    outline: 2px dashed #5d5d5d;
    outline-offset: -12px;
    background-color: #e0f2f7;
    font-family: 'Segoe UI';
    color: #1f3c44;
}

.input-img img {
    max-width: 40%;
    margin-bottom: 20px;
    user-select: none;
}

.input-img div {
    flex-direction: column;
    position: relative;
    z-index: 10;
}

.input-img input[type=file] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    position: absolute;
    z-index: -10;
}

.input-img input[type=file]:focus + label {
    outline: 1px solid #0078d7;
    outline: -webkit-focus-ring-color auto 5px;
}

.input-img label {
    font-weight: bold;
}

.input-img label.focus {
    outline: 1px solid #0078d7;
    outline: -webkit-focus-ring-color auto 5px;
}

.input-img label:hover {
    cursor: pointer;
    text-decoration: underline;
}

.input-img.dragover {
    background-color: #fafafa;
    outline-offset: -17px;
}

.input-data {
    width: 50%;
}

.input-data div{
    margin: 5px 0;
    }

.input-data-header input:invalid{
    border: 2px dashed red;
}
.input-data-header input:invalid:required {
    background-image: linear-gradient(to right, pink, lightgreen);
}
.input-data-header input:valid{
    border: 2px solid black;
}

.input-data input, textarea {
    width: 100%;
    padding: 5px;
    border-radius: 5px
}

.input-submit input {
    width: 50%;
}

#show-block{
    padding: 5px;
    border-radius: 5px
}

#container{
    display: flex;
    width: 700px;
    margin: 0 auto;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
}
#container .card{
    margin: 10px;
    padding: 1px;
    border: 1px solid;
}
#container img{
    width: 200px;
}

.loadMore{
    display: none;
}

.show{
    display: block;
}
.card-body h1,a,p{
    background: #fff;
    margin: 5px;
    padding:0 5px ;
    text-align: center;
    border: 1px solid;
    border-radius: 5px;
}